@import url('https://fonts.googleapis.com/css?family=Roboto');
body
{
    margin:0;
     font-family: 'Roboto', sans-serif;
}

.container-fluid
{
    min-width: 40%;
}
#ask
{
    text-align: center;
    align-content: center;

}
row
{
    min-width: 100%;
}
#header
{

    min-height: 100px;
    font-size: 40px;
    text-align: center;
    color:white;
    background-color: #102338;
}
.col-lg-12
{
        text-align: center;
        align-content: center;
}

#verify
{
  width: 35%;
  margin: 0 auto;  
}
img
{
    height: 200px;
    width: 200px;
}
#content
{
    background-color: blanchedalmond;
    min-width: 85%;
    min-height: 400px;
}
#center
{
 text-align: center;

}

nav
{
    min-width: 15%;
    background-color: darkslategrey;
    color:white;
}

#prediction
{
 color:#3eb740;   
}
#centered
{
    text-align:center;
}